* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
      min-height: 100vh;
      display: grid;
      grid-template:
      'header' auto
      'main-menu' 1fr
      'footer' auto;
    
  }

  .header {
      background-color: #1D1D1F;
      color: #f5f5f7;     
 }

 .list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 1rem;
    justify-content: center;
    gap: 1.5rem;
}



.list-item-link {
    justify-self: center;
    color: #f5f5f7;
}

.Unicef {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    font-size: 14px;
    text-align: center;
    background-color: #fbfbfd;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}


.iphonepro {
    display: grid;
    background-color: #fbfbfd;
    background-image: url(./Media/hero_iphone13pro.jpg);
    background-size: 800px;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: start;
    gap: 0.5rem;
  
}

.pro-text {
    display: grid;
    text-align: center;
    justify-self: center;
    list-style: none;
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    
}


.pro-text-link-item {
    display: grid;
    grid-auto-flow: column;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;

}

.pro-text-link-item-more {
    display: grid;
    grid-auto-flow: column;
    text-decoration: none;
    color: #06c;
    align-items: center;
}

.SE {
    display: grid;
    background-color: #fbfbfd;
    background-image: url(./Media/hero_iphonese.jpg);
    background-size: 800px;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: start;
    gap: 0.5rem;
}

.text {
    display: grid;
    place-content: center;
    justify-self: center;
    background-color: #fbfbfd;
    padding-top: 20px;

}

.tv {
    display: grid;
    background-image: url(./Media/hero_startframe__dbi4flqyio2u_medium\ \(1\).jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: start;
    gap: 0.5rem;


}

.items {
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}


.wwdc {
    display: grid;
    grid-area: 1fr;
    background-image: url(./Media/Apple-WWDC22-details-announcement-hero_big.jpg.large.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;

}

.trade {
    display: grid;
    grid-area: 1fr;
    background-image: url(./Media/promo_trade_in_may_2022__bbvnbfzoqzxu_large.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    align-content: start;
    color: black;
    place-items: center;
}


.iphone-promo {
    display: grid;
    grid-area: 1fr;
    background-image: url(https://www.apple.com/v/home/ao/images/promos/iphone-13/promo_iphone13_avail__frc36u35m0ii_small.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    align-content: start;
    color: black;
    place-items: center;

}


.watch {
    display: grid;
    grid-area: 1fr;
    background-image: url(https://www.apple.com/v/home/ao/images/promos/watch-series-7/promo_watch_lte__djeaso7ukrsm_small.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    align-content: start;
    color: black;
    place-items: center;

}

.card {
    display: grid;
    grid-area: 1fr;
    background-image: url(https://www.apple.com/v/home/ao/images/promos/apple-card/tile__cauwwcyyn9hy_small.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    align-content: start;
    color: black;
    place-items: center;
}



.footer {
    display: grid;
    background-color: #f5f5f7;
    padding-left: 120px;
    padding-right: 120px;
    

}

.tv-promo {
    display: grid;
    grid-area: 1fr;
    background-image: url(https://www.apple.com/v/home/ao/images/promos/tv-plus-now-and-then/promo_nat__f8py2o8h8v6m_small.jpg);
    background-repeat: no-repeat;
    height: 500px;
    padding: 1rem;
    align-content: end;
    gap: 0.5rem;
    color: white;
    margin: 0.5rem;
    align-content: start;
    color: black;
    place-items: center;
}



.footer {
    display: grid;
    background-color: #f5f5f7;
    padding-left: 120px;
    padding-right: 120px;
    

}



.foot1 {
    display: grid;
    border-bottom: 1px solid;
    border-color: #d2d2d7;
    color: #6e6e73;
    list-style: none;
    padding: 17px 0 11px 0;
    
}

.link {
    text-decoration: none;
    color: #424245;
}

.link:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}


.foot2 {
    display: grid;
    grid-template: 
    'shop services store business values'
    'shop services store education values'
    'shop services store healthcare about'
    'shop account store government about';

}

.shop-list {
    display: grid;
    text-decoration: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
    list-style: none;
    margin-right: 20px;
}

.shop-list-item {
    text-decoration: none;
    color: #6e6e73;
}
.shop-list-item:hover{
    text-decoration-line: underline;
    text-underline-position: below;

}

.services-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    margin-right: 20px;
}

.services-list-item {
    text-decoration: none;
    color: #6e6e73;
}


.services-list-item:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}

.account {
    display: grid;
    padding-top: 20px;
}

.account-list {
    list-style: none;
}

.account-list-item {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    margin-right: 20px;

}


.account-list-item:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}

.store-list{
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    margin-right: 20px;
}

.store-list:hover {
    text-decoration-line: underline;
    text-underline-position: below;
}


.business-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    margin-right: 20px;
}

.business-list-item {
    list-style: none;
    text-decoration: none;
    color: #6e6e73;
}


.business-list-item :hover {
    text-decoration-line: underline;
    text-underline-position: below;
}

.education {
    display: grid;
    padding-top: 20px;
    margin-right: 20px;
}

.education-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.healthcare {
    display: grid;
    padding-top: 20px;
    margin-right: 20px;
}

.healthcare-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.government {
    display: grid;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 20px;

}

.government-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
    

}


.values-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.about {
    padding-top: 20px;
    margin-right: 20px;
}

.about-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}


.foot3 {
    display: grid;
    border-bottom: 5px solid;
    border-color: #d2d2d7;
    color: #6e6e73;
    list-style: none;
    padding: 17px 0 11px 0;
    margin-top: 30px;
}

.shopp1 {
    color: #06c;
    text-decoration: none;
}

.shopp1:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}