* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      height: 100vh;
      display: grid;
    
  }

  .header {
      display:grid;
      background-color: #1D1D1F;
      font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      position: relative;
      color: #f5f5f7;
      height: 60px;
      padding: 10px 22px 10px 22px;
      
}

.list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    width: auto;
    height: 44px;
    justify-content: space-between;
    place-items: center;
    margin: 0 -8px 0 -8px;
}

.Unicef {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    font-size: 14px;
    text-align: center;
    background-color: #fbfbfd;
}


.iphonepro {
    display: grid;
    place-content: center;
    background-color: #fbfbfd;


}


.SE {
    display: grid;
    background-color: #fbfbfd;
    justify-self: center;
    place-content: center;
}

.text {
    display: grid;
    place-content: center;
    justify-self: center;
    background-color: #fbfbfd;
    padding-top: 20px;

}


.footer {
    display: grid;
    background-color: #f5f5f7;
    padding-left: 120px;
    padding-right: 120px;
    

}


.foot1 {
    display: grid;
    border-bottom: 1px solid;
    border-color: #d2d2d7;
    color: #6e6e73;
    list-style: none;
    padding: 17px 0 11px 0;
    
}

.link {
    text-decoration: none;
    color: #424245;
}

.link:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}


.foot2 {
    display: grid;
    grid-template: 
    'shop services store business values'
    'shop services store education values'
    'shop services store healthcare about'
    'shop account store government about';

}

.shop-list {
    display: grid;
    text-decoration: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
    list-style: none;
}

.shop-list:hover{
    text-decoration-line: underline;
    text-underline-position: below;

}

.services-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;

}

.services-list:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}

.account {
    display: grid;
    padding-top: 20px;
}

.account-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;

}


.account-list:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}

.store-list{
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.store-list:hover {
    text-decoration-line: underline;
    text-underline-position: below;
}


.business-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}


.business-list:hover {
    text-decoration-line: underline;
    text-underline-position: below;
}

.education {
    display: grid;
    padding-top: 20px;
}

.education-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.healthcare {
    display: grid;
    padding-top: 20px;
}

.healthcare-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.government {
    display: grid;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 30px;

}

.government-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
    

}


.values-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}

.about {
    padding-top: 20px;
}

.about-list {
    display: grid;
    list-style: none;
    text-decoration-line: none;
    color: #6e6e73;
    border-top: 10px;
    border-color: #d2d2d7;
}


.foot3 {
    display: grid;
    border-bottom: 5px solid;
    border-color: #d2d2d7;
    color: #6e6e73;
    list-style: none;
    padding: 17px 0 11px 0;
    margin-top: 30px;
}

.shopp1 {
    color: #06c;
    text-decoration: none;
}

.shopp1:hover {
    text-decoration-line: underline;
    text-underline-position: below;

}